# Vivado project files
*.xpr
*.xpe
*.xreport
*.zip
*.log
*.jou
*.str
*.psg
*.runs/
*.srcs/
!*.srcs/sources_1/
!*.srcs/constrs_1/
!*.srcs/sim_1/
*.cache/
*.ip_user_files/
*.ipdefs/
*.iprepo/
*.sdk/
*.hsi/
*.hw/
*.sim/
*.sw/
*.hbs/
*.xpr.pb/
*.xpr.orig/
*.xpr.lock/
*.xpr.user/
*.xpr.users/
*.xpr.runs/
*.xpr.sim/
*.xpr.srcs/
webtalk/
sdk_workspace/
.Xil/
*.cache/
*.data/
*.gen/
*.runs/
*.ip_run/
*.ip_user_files/
*.ipdefs/
*.ipcache/
*.ip_cache/
*.srcs/sources_1/bd/*/
*.srcs/sources_1/imports/
*.srcs/sources_1/ip/
*.srcs/sources_1/ui/

# Ignore all files in .srcs, but not the directories
.srcs/*/

# But do track .v, .vhd, .vhdl, and .xdc files in the sources_1, constrs_1, and sim_1 directories
!*.srcs/sources_1/new/*.v
!*.srcs/sources_1/imports/new/*.v
!*.srcs/constrs_1/imports/new/*.xdc
!*.srcs/sim_1/new/*.v

# Simulation files
*.wdb
*.wcfg
